.contact-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fdfdfd;
    padding: 1rem;
    border-left: 4px solid #FBB040;
    border-radius: 8px;
  }
  
  .contact-icon {
    font-size: 1.8rem;
    color: #FF5A4E;
  }
  
  .contact-input {
    border: 1.5px solid #FBB040;
    border-radius: 8px;
  }